.header {
	width           : 100%;
	padding         : 10px 0;
	background-color: #2aabe4;
}

.header_wrapper {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
	gap            : 40px;
}

@media (max-width: 640px) {
	.header_wrapper {
		position   : relative;
		align-items: flex-end;
		height     : 120px;

	}
}