body {
  font-family: sans-serif;
}

#root {
  width: 100%;
}

.appContainer {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : space-between;
  min-height      : 100vh;
  background-color: #2aabe4;
}

.sectionInner {
  max-width: 1024px;
  width    : 100%;
  margin   : 0 auto;
}